n8n-workflows/ai-content-generator.json
{
  "name": "AI Content Generator Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-content",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Content Generation Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://backend:3001/api/ai/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json[\"prompt\"] }}"
            },
            {
              "name": "model",
              "value": "={{ $json[\"model\"] || \"claude-3-opus-20240229\" }}"
            },
            {
              "name": "maxTokens",
              "value": "={{ $json[\"maxTokens\"] || 1000 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ai-generate",
      "name": "AI Generate Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "content",
              "value": "={{ $json[\"response\"] }}"
            },
            {
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Content Generation Trigger": {
      "main": [
        [
          {
            "node": "AI Generate Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Generate Content": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}